
body {
  background-color: #0fc2ad;
  margin: auto;
  width: 640px;
   padding: 50px;
  font-family: 'Arial', sans-serif; 
}


image-adidas {
  display: block;
  margin: 100 auto;
  padding: 10px;
}
.adi {
    color: #607171;
    font-size:100px;
}
